<div class="item img-thumbnail loading" data-id="<%= item.id %>">
  <a href="<%= item.escape("detail_page_url") %>" target="blank">
    <img src="<%= item.escape("large_image_url") %>" style="width:100%"><br>
    <div>
      <%= item.escape("title") %>
    </div>
  </a>
  <hr>
  <div>
    <span class="price">
      $<%= price %>
    </span>
    <span class="favorite-button">
      favorite button goes here
    </span>
  </div>
  <% if(item.get("recommending_users").length > 0) { %>
    <hr>
    <div>
      Recommended by:
    </div>  
    <% item.get("recommending_users").forEach(function(user) { %>
      <span>
        <a href="<%= '/#/users/' + user.id %>">
          <img src="<%= user.small_picture_url %>" class="recommending-user" data-toggle="tooltip" data-placement="top" title="<%= user.name %>">
        </a>
      </span>
    <% }) %>
  <% } %>
</div>