<div class="item img-thumbnail loading" data-id="<%= item.id %>">
  <a href="<%= item.escape("detail_page_url") %>" target="blank">
    <img src="<%= item.escape("large_image_url") %>" style="width:100%"><br>
    <div>
      <%= item.escape("title") %>
    </div>
  </a>
  <hr>
  <div>
    <span class="price">
      $<%= price %>
    </span>
    <span class="favorite-button">
      favorite button goes here
    </span>
  </div>
</div>